@font-face {
  font-family: Integral-Bold;
  src: url("/localFonts/Integral-CF-Bold.otf");
}

.heading {
  font-family: Integral-Bold;
  font-size: 36x;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 1020px) {
  .heading {
    font-family: Integral-Bold;
    font-size: 32px !important;
    font-size: 34px !important;
    font-weight: bold;
  }
}