@tailwind base;
@tailwind components;
@tailwind utilities;

/* Making Variables  */
:root {
  --foreground: #000000;
  --background: #F0F0F0;
  --light-gray: #f0f0f0;
}

.multi-range-slider .thumb {
  box-shadow: none !important;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 120px;
  overflow-x: hidden;
}

@media screen and (max-width: 1270px) {
  .container {
    max-width: 1244px;
    padding: 50px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #F0F0F0;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 35px 12px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 35px 0px !important;
  }
}

/* img {
  width: 100%;
  height: auto;
}

Image {
  width: 100%;
  height: auto;
} */